SQL_Connector.json
[{"id":"4a63fce5.9fc9fc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a646bfdf.88a128","type":"ping","z":"4a63fce5.9fc9fc","mode":null,"name":"Ping Server","host":"0.0.0.0","timer":"5","inputs":0,"x":150,"y":120,"wires":[["f7418d65.1d6cb"]]},{"id":"f7418d65.1d6cb","type":"function","z":"4a63fce5.9fc9fc","name":"Conn. check","func":"if (msg.payload !== false) {\n    var msgNet = {payload: {\"NetResult\" : 1}}\n    var msgToPlc = {payload: true}\n} else {\n    var msgNet = {payload: {\"NetResult\" : 0}}\n    var msgToPlc = {payload: false}\n}\nreturn [msgToPlc, msgNet];","outputs":"2","noerr":0,"x":345,"y":120,"wires":[["c30195d3.032228"],["112c15fa.e7db0a","7343931c.f55864"]]},{"id":"4158b036.4af5b","type":"comment","z":"4a63fce5.9fc9fc","name":"Check Internet connection","info":"Every 5s","x":190,"y":77,"wires":[]},{"id":"1098ace2.ae8d9b","type":"comment","z":"4a63fce5.9fc9fc","name":"Read data from PLC","info":"","x":171,"y":192,"wires":[]},{"id":"f2c18f78.e2a118","type":"s7 in","z":"4a63fce5.9fc9fc","endpoint":"da3eb33e.5815c","mode":"all","variable":"Czas","diff":true,"name":"PLC Data Input","x":162,"y":233,"wires":[["23444e36.393e2a"]]},{"id":"52615053.d8c16","type":"file","z":"4a63fce5.9fc9fc","name":"S7 data buffer","filename":"/home/files/S7Buffer","appendNewline":false,"createDir":true,"overwriteFile":"false","x":866,"y":156,"wires":[[]]},{"id":"23444e36.393e2a","type":"function","z":"4a63fce5.9fc9fc","name":"Create data packet","func":"var date_string = msg.payload.Czas_ROK + \"-\" + msg.payload.Czas_MIESIAC + \"-\" + msg.payload.Czas_DZIEN + \"T\" + msg.payload.Czas_GODZINA + \":\" + msg.payload.Czas_MINUTA + \":\" + msg.payload.Czas_SEKUNDA;\nvar msgData = { payload:\n    {\n    \"DataCzas\"  : date_string,\n    \"Zmienna_1\" : msg.payload.Zmienna_1,\n    \"Zmienna_2\" : msg.payload.Zmienna_2\n    }\n};\nreturn msgData;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":368,"y":233,"wires":[["112c15fa.e7db0a"]]},{"id":"da6d9c6f.8964d","type":"mysql","z":"4a63fce5.9fc9fc","mydb":"e0566c23.8a4468","name":"Database","x":847,"y":197,"wires":[["dec51538.42b56"]]},{"id":"dec51538.42b56","type":"debug","z":"4a63fce5.9fc9fc","name":"SQL result","active":true,"console":"false","complete":"payload","x":1064,"y":197,"wires":[]},{"id":"4948c3dd.2bec84","type":"function","z":"4a63fce5.9fc9fc","name":"Store data","func":"var value_string = \"'\" + \n    msg.payload.DataCzas + \"', \" +\n    msg.payload.Zmienna_1 + \", \" +\n    msg.payload.Zmienna_2\n\nif (msg.payload.NetResult === 0) { \n    if (msg.payload.Operator !== undefined) {\n        var BuffMsg = {payload : \"(\" + value_string + \"),\"}\n        return [BuffMsg, null];\n    }\n} else {\n    if (msg.payload.Operator !== undefined) {\n        msg.topic = \"INSERT INTO tabela_db (czas, zmienna_1, zmienna_2) VALUES (\" + value_string + \")\";\n        return [null, msg];\n    }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":680,"y":163,"wires":[["52615053.d8c16","470bb210.f3fad4"],["da6d9c6f.8964d"]]},{"id":"470bb210.f3fad4","type":"debug","z":"4a63fce5.9fc9fc","name":"Buffer data result","active":false,"console":"false","complete":"payload","x":877,"y":118,"wires":[]},{"id":"112c15fa.e7db0a","type":"join","z":"4a63fce5.9fc9fc","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":537,"y":163,"wires":[["4948c3dd.2bec84"]]},{"id":"9f7a57e6.ccd548","type":"file in","z":"4a63fce5.9fc9fc","name":"S7 data buffer","filename":"/home/files/S7Buffer","format":"utf8","x":321,"y":356,"wires":[["feddc22d.df51b8"]]},{"id":"91b2caf0.4d6958","type":"inject","z":"4a63fce5.9fc9fc","name":"Read buffer","repeat":"900","crontab":"","once":true,"topic":"","payload":"true","payloadType":"bool","x":152,"y":356,"wires":[["9f7a57e6.ccd548"]]},{"id":"e3aed097.7a245","type":"function","z":"4a63fce5.9fc9fc","name":"Store buffer in SQL","func":"if (msg.payload.Buffer !== undefined) {\n    var buff_str = msg.payload.Buffer;\n    var net_status = msg.payload.NetResult;\n    \n    if (buff_str !== \"\" && net_status == 1) {\n        var data_str = buff_str.slice(0, buff_str.length-1);\n        msg.topic = \"INSERT INTO produkcja (czas, zmienna_1, zmienna_2) VALUES \" + data_str;\n        var buff_empty = {payload : \"\"};\n        return [msg, buff_empty];\n    }\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","x":772,"y":371,"wires":[["638e7d4.1c7ba84"],["a7f51ff8.dd716"]]},{"id":"a7f51ff8.dd716","type":"file","z":"4a63fce5.9fc9fc","name":"Clear buffer","filename":"/home/files/S7Buffer","appendNewline":false,"createDir":false,"overwriteFile":"true","x":963,"y":400,"wires":[[]]},{"id":"638e7d4.1c7ba84","type":"mysql","z":"4a63fce5.9fc9fc","mydb":"e0566c23.8a4468","name":"Database","x":953,"y":350,"wires":[["742e4b3e.18c7a4"]]},{"id":"742e4b3e.18c7a4","type":"debug","z":"4a63fce5.9fc9fc","name":"Buffer SQL result","active":false,"tosidebar":true,"console":false,"complete":"payload","x":1187,"y":350,"wires":[]},{"id":"587e2224.45d9cc","type":"comment","z":"4a63fce5.9fc9fc","name":"Write buffer to SQL","info":"Every 1 hour","x":172,"y":315,"wires":[]},{"id":"c30195d3.032228","type":"s7 out","z":"4a63fce5.9fc9fc","endpoint":"da3eb33e.5815c","variable":"Net_Status","name":"Net status to PLC","x":576,"y":76,"wires":[]},{"id":"daa8c771.9531d8","type":"inject","z":"4a63fce5.9fc9fc","name":"On demand","repeat":"","crontab":"","once":false,"topic":"","payload":"true","payloadType":"bool","x":152,"y":391,"wires":[["9f7a57e6.ccd548"]]},{"id":"feddc22d.df51b8","type":"function","z":"4a63fce5.9fc9fc","name":"ConvMsg","func":"var newMsg = {payload: {\"Buffer\": msg.payload}}\nreturn newMsg;","outputs":1,"noerr":0,"x":479,"y":355,"wires":[["6a0c3da5.fd76fc"]]},{"id":"6a0c3da5.fd76fc","type":"join","z":"4a63fce5.9fc9fc","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":611,"y":371,"wires":[["e3aed097.7a245"]]},{"id":"7343931c.f55864","type":"link out","z":"4a63fce5.9fc9fc","name":"To buffer","links":["3b648c30.956314"],"x":501,"y":126,"wires":[]},{"id":"3b648c30.956314","type":"link in","z":"4a63fce5.9fc9fc","name":"","links":["7343931c.f55864"],"x":525,"y":390,"wires":[["6a0c3da5.fd76fc"]]},{"id":"da3eb33e.5815c","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.0.1","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"","adapteraddr":"0","cycletime":"10000","timeout":"3000","verbose":"default","name":"PLC Endpoint","vartable":[{"addr":"DB1,INT0","name":"Czas_ROK"},{"addr":"DB1,BYTE2","name":"Czas_MIESIAC"},{"addr":"DB1,BYTE3","name":"Czas_DZIEN"},{"addr":"DB1,BYTE5","name":"Czas_GODZINA"},{"addr":"DB1,BYTE6","name":"Czas_MINUTA"},{"addr":"DB1,BYTE7","name":"Czas_SEKUNDA"},{"addr":"DB1,REAL12","name":"Zmienna_1"},{"addr":"DB1,REAL16","name":"Zmienna_2"},{"addr":"DB1,X42.0","name":"Net_Status"}]},{"id":"e0566c23.8a4468","type":"MySQLdatabase","z":"","name":"","host":"0.0.0.0","port":"3306","db":"example_db","tz":""}]